{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
   {% if category %}
        {{category.description|truncatewords:155}}
   {% else %}
      welcome to online shopping store
   {% endif %}
{% endblock %}
{% block title %}
   {% if category %}
        {{category.name}} - online store
   {% else %}
     see our new collection
   {% endif %}
{% endblock %}
{% block content %}
{% if category %}
   <div>
       <div class="row my_row_class">
           <div class="mx_auto">
           <p><a href="{% url 'shopapp:allProdCat' %}">Our products</a> </p>
           </div>
       </div>
   </div>
{% endif %}
   <div class="mx_auto">
       {% if category %}
       <img class="my_image_me" src="{{category.image.url}}" alt="{{category.name}}">
   </div>
         <br>
   <div>
       <h1 class="text-center my_header">{{category.name}}</h1>
       <br>
       <p class="text-center my_ttile">{{category.description}}</p>
       <br>
   </div>
        {% else %}
   <div>
       <div align="center">
        <img class="my_image_padding" src="{% static 'img/banner1.png' %}" alt="Our products" width="1400px;" height="500px;" >
       </div>
   </div>
        <br>
    <div>
        <h2 class="text-center my_header">Our products collection</h2>
        <p class="text-center my_title">Enjoy your shopping</p>
        <br>
    </div>
        {% endif %}
    <div class="container">
        <div class="row mx_auto">
            {% for product in products.object_list  %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width:18rem;" >
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="500px;"></a>
                        <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>{{product.price}}</p>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx_auto">
            {% if products.paginator.num_pages > 1 %}

            <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                  <a href="?page={{pg}}" class="btn btn-light btn-sm  {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
    </div>
{% endblock %}